.gantt-container {
    height: 100%;
}

.gantt_cal_qi_content li {
    list-style: inherit;
}

.gantt-epic {
    background-color: #ffc266;
    border: 1px solid #e68a00;
}

.gantt-symbol {
    content: "";
    padding-right: 5px;
    margin: 0.5em 5px;
}

.gantt-symbol-epic {
    background-color: #ffa31a;
}

.gantt-symbol-feature {
    background-color: #e699ff;
}

.gantt-symbol-pbi {
    background-color: #3db9d3;
}

.gantt-epic .gantt_task_progress {
    background-color: #ffa31a;
}

.gantt-feature {
    background-color: #e699ff;
    border: 1px solid #8600b3;
}

.gantt-feature .gantt_task_progress {
    background-color: #ac00e6;
}